<app-header></app-header>
<h1 class="display-4">My Orders</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Items</th>
            <th>Total</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of details;let i =index">
            <td>{{i+1}}</td>
            <td>
                <ul>
                    <li *ngFor="let item of order.orderitems">
                        {{item.name}} - {{item.qty}} Qty
                    </li>
                </ul>
            </td>

            <td>Rs.{{order.total}}</td>
            <td>{{order.status}}</td>
            <td>
                <button type="submit"   class="btn btn-danger" *ngIf="order.status=='ORDERED'" (click)="cancel()" >cancel the order</button>

            </td>
        </tr>
    </tbody>
</table>