<app-header></app-header>
<div class="products-container">
    <div class="product-header">
        <h5 class="product-title">Meals</h5>
        <h5 class="price">Price</h5>
        <h5 class="quantity">Quantity</h5>
        <h5 class="total">Total</h5>
    </div>
</div>

<div *ngIf="items.length > 0">
    <div class="cart" *ngFor="let item of items; let i = index">
        <i class="fa fa-trash" aria-hidden="true" (click)="onDelete(i)"></i>
        <div class="name">
            <h3>{{item.name}}</h3>
        </div>
        <div class="price">
            {{item.price | currency}}
        </div>
        <input type="number" class="qty" [value]="item.qty" (blur)="validateInput($event,i)">
        <div class="subtotal">
            {{item.price * item.qty | currency}}

        </div>

    </div>
    <div class="checkout">
        <div>Total</div>
        <b>{{total | currency}}</b>
        <button class="btn btn-success" (click)="addOrder()">Order</button>
    </div>
</div>